aside {
	float: right;
}

#author-input {
	display: block;
}

article {
	width: 700px;
	
	margin: 0 auto;
}

md-card {
	border-radius: 5px;
	overflow: hidden;
}

md-card:hover {
	position: relative;
	left: 8px;
}

md-card h2 {
	color: white;
	background-color: rgb(63,81,181); 
	
	margin: 0;
	padding: 10px;
}

md-card p {
	padding: 5px 20px;
}

#data-reset {
	background-image: url("https://cdn0.iconfinder.com/data/icons/business-vector-tab-bar-icons/48/A-bomb-512.png");
	background-size: 100%;
}

#data-reset:active {
	background-image: url("http://png-1.vector.me/files/images/2/5/255425/nuclear_explosion_thumb");
	background-size: 100%;
}