<!DOCTYPE html>

<html lang="en" ng-app="quoteBook">
	<head>
		<meta charset="UTF-8">
		<title>Quotebook</title>
		
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body ng-controller="MainController as mc">
		<div id="page">
			<header>
				<h1>Angular QuoteBook</h1>
				
			</header>
			<button ng-click="mc.test()">Test</button>
			<md-sidenav class="md-sidenav-right" md-component-id="right">
				<h4>Add a Quote</h4>
				<form ng-submit="mc.createQuoteData()">
					<fieldset>
						<textarea name="quoteAdd" id="" placeholder="Put the quote here" cols="30" rows="10" ng-model="mc.newQuote"></textarea>
						<input type="text" id="author-input" placeholder="Put the author's name here" ng-model="mc.newAuthor">
						<input type="submit" class="md-button md-raised md-primary" value="Add Quote">
					</fieldset>
				</form>
			</md-sidenav>
			
			<article>
				Favorite Quotes:
				
				<md-card ng-repeat="quote in mc.quotes">
					<h2>{{ quote.author }}</h2>
					
					<p>{{ quote.text }}</p>
				</md-card>
			</article>
			
			<footer>
				<md-button class="md-raised md-primary" ng-click="mc.resetData()">
					<md-tooltip md-direction="right" md-autohide="true">
						Reset this to normalcy
					</md-tooltip>
					<md-icon aria-label="Reset" id="data-reset"></md-icon>
				</md-button>
			</footer>
		</div>
		
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/mainController.js"></script>
		<script src="js/mainService.js"></script>
	</body>
</html>