<!DOCTYPE html>

<html lang="en" ng-app="quoteBook">
	<head>
		<meta charset="UTF-8">
		<title>Quotebook</title>
		
		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	
	<body ng-controller="MainController as mc">
		<div id="page">
			<header>
				<h1>Angular QuoteBook</h1>
				
				<md-button class="md-fab md-warn" aria-label="Add Quote" ng-click="mc.openAddQuote()">
					<md-icon class="fa fa-plus"></md-icon>
					<md-tooltip md-direction="bottom">
						Add Quote
					</md-tooltip>
				</md-button>
			</header>
			
			
			
			<md-sidenav class="md-sidenav-right" md-component-id="right">
				<h4 class="md-warn">Add a Quote</h4>
				<form ng-submit="mc.createQuoteData()">
					<!--<md-input-container>-->
						<!--<textarea placeholder="testing"></textarea>-->
						<textarea name="quoteAdd" class="md-input" id="quote-input" placeholder="Put the quote here" ng-model="mc.newQuote" rows="3" required></textarea>
					<!--</md-input-container>-->
					
					<!--<md-input-container>-->
						<input type="text" id="author-input" placeholder="Put the author's name here" ng-model="mc.newAuthor" required>
					<!--</md-input-container>-->
					
					<!--<md-input-container>-->
						<input type="submit" class="md-button md-raised md-primary" value="Add Quote" aria-label="Add Quote">
					<!--</md-input-container>-->
				</form>
			</md-sidenav>
			
			
			
			<article>
				<h3>Favorite Quotes:</h3>
				
				<md-card ng-repeat="quote in mc.quotes track by $index">
					<md-button class="md-fab md-mini md-primary" ng-click="mc.removeData(quote)" aria-label="Delete">
						<md-icon class="fa fa-minus default-unseen"></md-icon>
						<md-icon class="fa fa-minus-circle default-seen"></md-icon>
						
						<md-tooltip md-direction="right" md-delay="1000">
							Delete
						</md-tooltip>
					</md-button>
					<h2>{{ quote.author }}</h2>
					
					<p>{{ quote.text }}</p>
					<!--<button ng-click="mc.test(quote)">Test</button>-->
				</md-card>
			</article>
			
			
			
			<footer>
				<md-button class="md-raised md-primary" ng-click="mc.resetData()">
					<md-tooltip md-direction="right" md-autohide="true">
						Reset this to normalcy
					</md-tooltip>
					<md-icon aria-label="Reset" id="data-reset"></md-icon>
				</md-button>
			</footer>
		</div>
		
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-material/angular-material.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/mainController.js"></script>
		<script src="js/mainService.js"></script>
	</body>
</html>